<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Acerca de</h1>
</div>
<div class="pt-3">
    <p>Análisis y Desarrollo de Software</p>
    <p>Servicio Nacional de Aprendizaje SENA</p>
    <p>Angel Didier Serrato Arias</p>
    <p>2627057</p>
    <p>Codificación de módulos del software según requerimientos del proyecto</p>
    <p>GA7-220501096-AA2-EV01</p>
</div>